:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  .header{
    background-color: #141820;
    
  }

  .split {
    display: flex;
    height: calc(100vh - 115px);
    overflow: hidden;
  }
 li button{
  color: white !important;
 }
 li button.active{
  color: #202632 !important;
 }
.tab-panel{
  height: 100%;
}
.code{
  background-color: #202632;
}


#output{
  border-top: 1px solid #bababa;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
  z-index: 10;
}

.nav-item:nth-of-type(2){
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.tab-content textarea{
  background-color: #2d3748;
  color: #eee;
  padding: 10px;
}

.gutter.gutter-horizontal,
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.run {
  background-color: #3b4960;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80px;
  border-radius: 2px;
  padding:4px ;
}